.carsParent {
  background-image: url("../images/carsPageBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -50px;
  height: 700px;
  background-color: black !important;
  color: white;
}

.carsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  background-color: transparent;
  color: white;
}
/* .container {
  margin-top: -3%;
  background-color: transparent !important;
  color: black !important;
} */
