.carsParent {
  background-image: url("../images/carsPageBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center top -50px; */
  height: 900px;
  color: white;
}

.carsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
  color: white;
}

.cardContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  background-color: #333;
  margin-left: 10%;
  margin-right: 10%;
}
