.homePageParent {
    background-image: url("../images/homeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top -100px;
    height: 600px;
}
.container{
    margin-left:10%;
    margin-top:-3%;
}