.searchParent {
  background-image: url("../images/carsPageBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center top -50px; */
  height: 1000px;
  color: white;
  display: flex;
}

.searchContainer {
  justify-content: center;
  align-items: center;
  min-height: 20vh !important;
  background-color: transparent;
  color: white;
  margin-left: 20% !important;
  margin-right: 10%;
  margin-top: 20%;
  flex-grow: 1 !important;
}
